.App {
  text-align: center;
}

li {
  display: inline;
  margin-right: 2rem;
}

ul {
  list-style-type: none;
}

footer {
  height: 20em;
  display: block;
  color: white;
  background-color: #383838;
}