footer {
  height: 10rem;
  display: block;
  color: white;
  background-color: #2f2f2f;
}

.footerContent{
  margin: 1rem;

}

label{
display: block;
text-align: center;

}
input{
margin-left: auto;
margin-right: auto;
display: block;
}

a.facebook {
  color: #4968ad;
  padding-right: 50px;
}

a.twitter {
  color: #49a1eb;
}

.header{
  text-align: center;
  padding-top: 14rem;
}

label{
  display: block;
  font-family: "Trebuchet MS", sans-serif;
   font-size: 1em;
   letter-spacing: -2px;
   text-transform: uppercase;
}

.subject{
  display:block;
   width: 300px;
   height: 300px;
   margin-left:430px;
 }

 input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
