.cart {
    padding: 1rem;
    padding-bottom: 5rem;
    margin: 0 6rem 6rem 6rem;
}

.cartItem{

    background-color: rgb(216, 216, 216);
}

.cartImg {
    padding-right: 2rem;
    float: left;
    height: 12rem;
}

.cartContent{
    margin-top: 1rem;
    height: 12rem;
}

.emptyCart{
    margin-bottom: 4rem;
}
