.checkoutCart {
    width: 50%;
    padding: 1rem;
    padding-bottom: 5rem;
    margin: auto;
}

.checkoutCart .cartItem{
    background-color: rgb(216, 216, 216);
    border-radius: 5px;
}

.checkoutCart .cartImg {
    width: 13rem;
    padding-right: 2rem;
    float: left;
    height: 10rem;
    border-radius: 5px;
    object-fit: cover;
}

.checkoutCart .cartContent{
    height: 10rem;
}

.checkoutCart .cartPrice{
    color: crimson;
}

.checkoutCart .emptyCart{
    margin-bottom: 4rem;
}

.checkoutCart .cartName{
    font-weight: 500;
    padding-top: 0.5rem;
}

.checkoutCart .cartRemove{
    margin: 1rem 1rem 0rem 0;
    border: none;
    background: none;
    float:right;
    border-bottom: 2px dotted;
}

.checkoutTotal .total{
    margin: auto;
    margin-top: 6rem;
    margin-right: 6rem;
    padding: 3rem;
    padding-top: 1rem;
}

.checkoutTotal .total p{
    margin: 0;
}

.checkoutTotal .quantity{
    outline: 0;
}

.checkoutTotal .cartRemove:focus .quantity:focus .checkout:focus{outline:0;}

.checkoutTotal .checkout{
    margin-bottom: 1rem;
    margin-top: 2rem;
    width: 140%;
    padding:0.8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: -1.5rem;
    margin-right: 0;
    border: none;
    background-color: rgb(74, 74, 88);
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.checkoutTotal .checkout:hover{    
    border-color: #333;
    background-color: white;
    color: #333;
}