.menuImg {
    border-radius: 5px 5px 0 0;
    height: 12em;
    object-fit: cover;
}

.menuName{
    padding-left: 1rem;
    text-align: start;
    font-weight: 600;
}

.menuDesc{
    font-size: small;

}

.menuItem{
    margin: 2rem;
    display: inline-block;
    width: min-content;
    background-color: rgb(211, 211, 211);
    border-radius: 5px 5px 5px 5px;
}

.price{
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    color: white;
    background-color: cornflowerblue;
    border-radius: 0 0 5px 5px;
    border: none;
}

.price:hover{
    background-color: rgb(86, 127, 204);
}

.price:focus{
    outline: none;
}

.menu{
    margin-left: 5rem;
    margin-right: 5rem;
  }