.summary{
    width: 30%;
    float: right;
    margin-right: 6rem;
}

.summary .cartItem{
    display: flex;
    
}

.summary .cartImg{
    float: left;
    height: 6rem;
    width: 6rem;
    object-fit: cover;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.summary .cartContent{
    margin-right: 8rem;
    margin-bottom: 0;
    padding: 0;
}

.summary .cartContent p{
    margin: 0;
}

.form{
    margin: auto;
    height: 100%;
}

.form label{
    margin: auto;
    margin-bottom: 0.5rem;
    width: 15%;
}

.form input[type='submit']{
    background-color: #706ee2;
    width: 15%;
    margin-top: 1rem;

}